

<div class="page-container">
  <h1>You've come to the right place!</h1>
  <p>Start your journey on the way to our baby clothing store</p>

  <!-- כפתור ממורכז -->
  <div class="button-container">
    <button (click)="navigateToStore()" class="navigate-button">
      <i class="fa-solid fa-map-marker-alt"></i>
      how to get to the store
    </button>

  </div>

  <!-- אלמנט דרך -->
  <div class="road">
    <!-- <img src="path/to/road-image.png" alt="דרך" class="road-image" /> -->
  </div>
</div>